<h1>Recipe Stream</h1>
<% if @recipe and current_user %>
  <p><%= @recipe.name %></p>
  <!-- REPLACE THIS LINE BELOW -->
  <!-- <%= button_to "Like", like_path(id: @recipe), :class => "button medium", :method => :patch %> -->
<% end %>
